In [1]:
pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.6.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 31.5 MB/s
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.6.0

In [2]:
pip install PyPDF2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyPDF2
  Downloading pypdf2-2.12.1-py3-none-any.whl (222 kB)
     |████████████████████████████████| 222 kB 31.8 MB/s
Requirement already satisfied: typing_extensions>=3.10.0.0 in /usr/local/lib/python3.8/dist-packages (from PyPDF2) (4.4.0)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-2.12.1

In [3]:
from PyPDF2 import PdfFileReader
import tabula
import pandas as pd

In [36]:
pdf = "Stundenplan.PDF"

inputpdf = PdfFileReader(open(pdf, "rb"))
main_df = pd.DataFrame()

for i in range(inputpdf.numPages):
    df = pd.DataFrame(tabula.read_pdf(pdf,lattice=True,pages=i + 1,multiple_tables=True,pandas_options={"header": None},)[0],)
    df = df.replace({"\r": " "}, regex=True)
    main_df = main_df.append(df)

print(main_df)

                              0  \
0   Meine Veranstaltungstermine
1                  Datum / Zeit
2      13.10.2022 12:15 - 13:45
3      18.10.2022 12:15 - 14:00
4      25.10.2022 12:15 - 14:00
..                          ...
16     13.01.2023 10:00 - 16:00
17     24.11.2022 14:00 - 16:00
18     10.11.2022 14:00 - 16:00
19     16.11.2022 14:00 - 15:30
20     09.12.2022 10:00 - 16:00

                                                    1       2  \
0                                                 NaN     NaN
1                                         Bezeichnung    Raum
2                                   Service Analytics  NB-207
3                      Empirische Managementforschung  NB-301
4                      Empirische Managementforschung  NB-301
..                                                ...     ...
16                              Data Science Methoden  HB-U03
17  Konfigurierung von Produktions- und Logistiksy...  NB-301
18  Konfigurierung von Produktions- und Logistiksy...  NB-301
19                 Data Science in Finance mit Python     NaN
20                              Data Science Methoden     NaN

                                  3
0                               NaN
1                            Dozent
2     Balla, Nathalie Schulz, Felix
3                   Gelbrich, Katja
4                   Gelbrich, Katja
..                              ...
16  Küsters, Ulrich Setzer, Thoma s
17                  Rave, Alexander
18                  Rave, Alexander
19       Mählmann, Thomas Reck, Ivo
20  Küsters, Ulrich Setzer, Thoma s

[146 rows x 4 columns]

In [37]:
#Set index to consecutive numbers
main_df = main_df.reset_index()

In [38]:
#remove first row
main_df = main_df.drop([0], axis = 0)
main_df

,index,0,1,2,3
1,1,Datum / Zeit,Bezeichnung,Raum,Dozent
2,2,13.10.2022 12:15 - 13:45,Service Analytics,NB-207,"Balla, Nathalie Schulz, Felix"
3,3,18.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
4,4,25.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
5,5,08.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
...,...,...,...,...,...
141,16,13.01.2023 10:00 - 16:00,Data Science Methoden,HB-U03,"Küsters, Ulrich Setzer, Thoma s"
142,17,24.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
143,18,10.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
144,19,16.11.2022 14:00 - 15:30,Data Science in Finance mit Python,NaN,"Mählmann, Thomas Reck, Ivo"
145,20,09.12.2022 10:00 - 16:00,Data Science Methoden,NaN,"Küsters, Ulrich Setzer, Thoma s"

In [39]:
#set first row to column name
main_df = main_df.rename(columns = main_df.iloc[0])
main_df = main_df.drop([1], axis = 0)

In [40]:
#Set index to consecutive numbers
main_df = main_df.reset_index()
main_df

,index,1,Datum / Zeit,Bezeichnung,Raum,Dozent
0,2,2,13.10.2022 12:15 - 13:45,Service Analytics,NB-207,"Balla, Nathalie Schulz, Felix"
1,3,3,18.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
2,4,4,25.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
3,5,5,08.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
4,6,6,15.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
...,...,...,...,...,...,...
139,141,16,13.01.2023 10:00 - 16:00,Data Science Methoden,HB-U03,"Küsters, Ulrich Setzer, Thoma s"
140,142,17,24.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
141,143,18,10.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
142,144,19,16.11.2022 14:00 - 15:30,Data Science in Finance mit Python,NaN,"Mählmann, Thomas Reck, Ivo"
143,145,20,09.12.2022 10:00 - 16:00,Data Science Methoden,NaN,"Küsters, Ulrich Setzer, Thoma s"

In [41]:
#remove unecessary columns
main_df = main_df.drop(['index', 1], axis = 1)

In [122]:
#duplicate the 'datum / Uhrzeit' column
main_df1 = main_df.copy(deep = True)
main_df1['Start_Time'] = main_df.loc[:,'Datum / Zeit']
main_df1

,Datum / Zeit,Bezeichnung,Raum,Dozent,Start_Time
0,13.10.2022 12:15 - 13:45,Service Analytics,NB-207,"Balla, Nathalie Schulz, Felix",13.10.2022 12:15 - 13:45
1,18.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja",18.10.2022 12:15 - 14:00
2,25.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja",25.10.2022 12:15 - 14:00
3,08.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja",08.11.2022 12:15 - 14:00
4,15.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja",15.11.2022 12:15 - 14:00
...,...,...,...,...,...
139,13.01.2023 10:00 - 16:00,Data Science Methoden,HB-U03,"Küsters, Ulrich Setzer, Thoma s",13.01.2023 10:00 - 16:00
140,24.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander",24.11.2022 14:00 - 16:00
141,10.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander",10.11.2022 14:00 - 16:00
142,16.11.2022 14:00 - 15:30,Data Science in Finance mit Python,NaN,"Mählmann, Thomas Reck, Ivo",16.11.2022 14:00 - 15:30
143,09.12.2022 10:00 - 16:00,Data Science Methoden,NaN,"Küsters, Ulrich Setzer, Thoma s",09.12.2022 10:00 - 16:00

In [123]:
#sort the columns in right order
main_df1 = main_df1[['Start_Time', 'Datum / Zeit','Bezeichnung', 'Raum', 'Dozent']]

In [124]:
#rename 'Datum / Zeit' column
main_df1 = main_df1.rename(columns={"Datum / Zeit": "End_Time"})

In [125]:
#transfer datatype object to string
main_df1['Start_Time'] = main_df1['Start_Time'].astype("string")
main_df1['End_Time'] = main_df1['End_Time'].astype("string")
main_df1

,Start_Time,End_Time,Bezeichnung,Raum,Dozent
0,13.10.2022 12:15 - 13:45,13.10.2022 12:15 - 13:45,Service Analytics,NB-207,"Balla, Nathalie Schulz, Felix"
1,18.10.2022 12:15 - 14:00,18.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
2,25.10.2022 12:15 - 14:00,25.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
3,08.11.2022 12:15 - 14:00,08.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
4,15.11.2022 12:15 - 14:00,15.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
...,...,...,...,...,...
139,13.01.2023 10:00 - 16:00,13.01.2023 10:00 - 16:00,Data Science Methoden,HB-U03,"Küsters, Ulrich Setzer, Thoma s"
140,24.11.2022 14:00 - 16:00,24.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
141,10.11.2022 14:00 - 16:00,10.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
142,16.11.2022 14:00 - 15:30,16.11.2022 14:00 - 15:30,Data Science in Finance mit Python,NaN,"Mählmann, Thomas Reck, Ivo"
143,09.12.2022 10:00 - 16:00,09.12.2022 10:00 - 16:00,Data Science Methoden,NaN,"Küsters, Ulrich Setzer, Thoma s"

In [126]:
#cut the endtime out of starttime
main_df2 = main_df1
main_df2['Start_Time'] = main_df1['Start_Time'].str[:16]
main_df2

,Start_Time,End_Time,Bezeichnung,Raum,Dozent
0,13.10.2022 12:15,13.10.2022 12:15 - 13:45,Service Analytics,NB-207,"Balla, Nathalie Schulz, Felix"
1,18.10.2022 12:15,18.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
2,25.10.2022 12:15,25.10.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
3,08.11.2022 12:15,08.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
4,15.11.2022 12:15,15.11.2022 12:15 - 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
...,...,...,...,...,...
139,13.01.2023 10:00,13.01.2023 10:00 - 16:00,Data Science Methoden,HB-U03,"Küsters, Ulrich Setzer, Thoma s"
140,24.11.2022 14:00,24.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
141,10.11.2022 14:00,10.11.2022 14:00 - 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
142,16.11.2022 14:00,16.11.2022 14:00 - 15:30,Data Science in Finance mit Python,NaN,"Mählmann, Thomas Reck, Ivo"
143,09.12.2022 10:00,09.12.2022 10:00 - 16:00,Data Science Methoden,NaN,"Küsters, Ulrich Setzer, Thoma s"

In [127]:
#cut the starttime out of endtime
main_df2.End_Time = main_df2.End_Time.str[0:10] + main_df2.End_Time.str[-6:]
main_df2

,Start_Time,End_Time,Bezeichnung,Raum,Dozent
0,13.10.2022 12:15,13.10.2022 13:45,Service Analytics,NB-207,"Balla, Nathalie Schulz, Felix"
1,18.10.2022 12:15,18.10.2022 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
2,25.10.2022 12:15,25.10.2022 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
3,08.11.2022 12:15,08.11.2022 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
4,15.11.2022 12:15,15.11.2022 14:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
...,...,...,...,...,...
139,13.01.2023 10:00,13.01.2023 16:00,Data Science Methoden,HB-U03,"Küsters, Ulrich Setzer, Thoma s"
140,24.11.2022 14:00,24.11.2022 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
141,10.11.2022 14:00,10.11.2022 16:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
142,16.11.2022 14:00,16.11.2022 15:30,Data Science in Finance mit Python,NaN,"Mählmann, Thomas Reck, Ivo"
143,09.12.2022 10:00,09.12.2022 16:00,Data Science Methoden,NaN,"Küsters, Ulrich Setzer, Thoma s"

In [130]:
#convert string to datetime64
main_df2['Start_Time'] =  pd.to_datetime(main_df2['Start_Time'], format='%d.%m.%Y %H:%M')
main_df2['End_Time'] =  pd.to_datetime(main_df2['End_Time'], format='%d.%m.%Y %H:%M')

In [131]:
main_df2

,Start_Time,End_Time,Bezeichnung,Raum,Dozent
0,2022-10-13 12:15:00,2022-10-13 13:45:00,Service Analytics,NB-207,"Balla, Nathalie Schulz, Felix"
1,2022-10-18 12:15:00,2022-10-18 14:00:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
2,2022-10-25 12:15:00,2022-10-25 14:00:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
3,2022-11-08 12:15:00,2022-11-08 14:00:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
4,2022-11-15 12:15:00,2022-11-15 14:00:00,Empirische Managementforschung,NB-301,"Gelbrich, Katja"
...,...,...,...,...,...
139,2023-01-13 10:00:00,2023-01-13 16:00:00,Data Science Methoden,HB-U03,"Küsters, Ulrich Setzer, Thoma s"
140,2022-11-24 14:00:00,2022-11-24 16:00:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
141,2022-11-10 14:00:00,2022-11-10 16:00:00,Konfigurierung von Produktions- und Logistiksy...,NB-301,"Rave, Alexander"
142,2022-11-16 14:00:00,2022-11-16 15:30:00,Data Science in Finance mit Python,NaN,"Mählmann, Thomas Reck, Ivo"
143,2022-12-09 10:00:00,2022-12-09 16:00:00,Data Science Methoden,NaN,"Küsters, Ulrich Setzer, Thoma s"

In [132]:
#Print to excel file
main_df2.to_excel(excel_writer="schedule.xlsx", sheet_name="Stundenplan")